body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card */
.card {
    background: white;
    padding: 25px;
    width: 420px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

/* Inputs */
input {
    width: 90%;
    padding: 10px;
    margin: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Button */
button {
    margin-top: 10px;
    padding: 12px;
    width: 95%;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

/* Result */
.result-box {
    margin-top: 15px;
    padding: 10px;
    background: #f4faff;
    border-radius: 10px;
    display: none;
}

/* Chart */
canvas {
    margin-top: 20px;
}